body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e6; /* Set all background to light blue */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.about-section {
    padding: 20px;
    background-color: #add8e6; /* Set section background to match */
}

.about-container {
    display: flex;
    align-items: flex-start;
}

.profile-pic {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.about-text {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}


